@import ../../global/sass-config/_mixins
  
.hero
  position: relative
  height: 85vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.hero__logo
  background-image: url('/static/images/we-mountains-color.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  position: absolute
  +size-square(40%)
  z-index: -1
