@import ../../global/sass-config/_mixins
@import ../background/background-config

.hero
  position: relative
  height: 85vh
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  opacity: 0
  animation: fadein 0.5s forwards #{$background-image-fadein-time / 2}

.hero__logo
  background-image: url('/static/images/we-logo.svg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 35%
  width: 50%
  z-index: -1

.hero__header
  font-size: $hero-header-font-size
  +font-weight-light
  text-transform: uppercase
  color: $hero-header-color

.hero__subheader
  font-size: $hero-subheader-font-size
  text-transform: lowercase
  color: $hero-subheader-color
  +font-weight-light

+media($tablet-landscape)
  .hero__logo
    width: 80%

+media($tablet-portrait)
  .hero__header
    font-size: $hero-header-font-size--tablet-portrait
  .hero__subheader
    font-size: $hero-subheader-font-size--tablet-portrait
  .hero__logo
    height: 25%

+media($mobile)
  .hero__header
    font-size: $hero-header-font-size--mobile
  .hero__subheader
    font-size: $hero-subheader-font-size--mobile
  .hero__logo
    height: 20%