@import ../../global/sass-config/_mixins
@import ../background/background-config

.hero
  position: relative
  padding-top: 10vh
  height: 85vh
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  opacity: 0
  animation: fadein 0.5s forwards #{$background-image-fadein-time / 2}

.hero__logo
  $width: 80vw
  $max-width: 80vh
  $ratio: 262 / 498.5
  background-image: url('/static/images/logos/vertical-stack.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  height: $width * $ratio
  width: $width
  margin-bottom: 8px
  max-width: $max-width
  max-height: $max-width * $ratio
  position: relative
  z-index: -1
  box-sizing: border-box

.hero__copy
  position: absolute
  top: 0
  left: 0
  right: 0
  botoom: 0
  margin: auto

.hero__header
  font-family: "FuturaBT W05 Bold"
  font-size: $hero-header-font-size
  letter-spacing: -0.3rem
  +font-weight-bold
  color: $color-black
  margin-bottom: 16px
  color: transparent

.hero__subheader
  font-family: 'Montserrat'
  font-size: $hero-subheader-font-size
  text-transform: uppercase
  color: $hero-subheader-color
  color: transparent
  +font-weight-medium

+media($tablet-portrait)
  .hero__header
    font-size: $hero-header-font-size--tablet-portrait
  .hero__subheader
    font-size: $hero-subheader-font-size--tablet-portrait

+media($mobile)
  .hero__header
    font-size: $hero-header-font-size--mobile
  .hero__subheader
    font-size: $hero-subheader-font-size--mobile
