.footer 
  background: black // Change this to $dark-neutral-color once color palette is merged
  height: 10vh
  width: 100%
  display: flex
  align-items: center
  justify-content: space-evenly
  padding: 2rem

.footer__logo
  height: 100%

.footer__links
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-evenly
  height: 100%
  width: 33%
  color: white

.footer__link
  color: #f2f2f2 // Change to $light-neutral-color once color palette is merged
  transition: color .3s

.footer__link:hover
  color: white

.footer__item
  color: #f2f2f2 // Change to $light-neutral-color once color palette is merged

.footer__info
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-evenly
  height: 100%
  width: 33%
  color: white