.footer 
  background: $dark-neutral-color
  height: 10vh
  width: 100%
  display: flex
  align-items: center
  justify-content: space-evenly
  padding: 2rem

.footer__logo
  height: 100%

.footer__links
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-evenly
  height: 100%
  width: 33%
  color: $footer-text-white

.footer__link
  color: $light-neutral-color
  transition: color .3s

.footer__link:hover
  color: $footer-text-white

.footer__item
  color: $light-neutral-color

.footer__info
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: space-evenly
  height: 100%
  width: 33%
  color: $footer-text-white