// BY NAME
// Define all your color values by color names here
$color-extra-dark-green: #0c3f0b
$color-dark-green: #136311
$color-light-green: #A1ABA5
$color-extra-light-green: #BAC4BA
$color-yellow: #e8aa19
$color-extra-light-grey: #fcfcfc
$color-light-grey: #F4F3F2
$color-mid-grey: #A1ABA5
$color-dark-grey: #222123
$white: white
$black: black

// BY PURPOSE
// Re-define colors by purpose here so that site-wide color updates can be done
// with a small number of changes to the config file.
// If the color scheme does not call for two areas using the same color to match
// give them different names so they can be adjusted separately in the future.
$brand-color: $color-dark-green
$hero-header-color: $color-dark-green
$hero-subheader-color: rgba($color-dark-grey, 0.8)
$services-background-start-color: $color-mid-grey
$services-background-end-color: $color-light-green
$services-text-color: $white
$service-box-background-color: $color-light-grey
$service-box-text-color: $color-dark-grey
$service-box-icon-color: $color-dark-grey
$accent-color: $color-yellow
$light-neutral-color: $color-light-grey
$medium-neutral-color: $color-mid-grey
$dark-neutral-color: $color-dark-grey
$nav-button-background-color: $white
$nav-button-gradient-start-color: $color-dark-green
$nav-button-gradient-end-color: $color-extra-dark-green
$nav-button-border-color: $white
$nav-button-text-color: $white
$nav-background-color: $color-light-grey
$nav-text-color: $color-dark-grey
$nav-text-hover-color: $black
$mobile-nav-background-color: $color-light-grey
$footer-text-color: $color-dark-grey
$footer-text-hover-color: $black
$footer-background-color: $color-light-grey
$grey-gradient-start-color: $color-light-grey
$grey-gradient-end-color: $color-extra-light-grey
$body-background-color: $color-light-grey