// BY NAME
// Define all your color values by color names here
$color-dark-green: #325B31
$color-light-green: #A1ABA5
$color-extra-light-green: #BAC4BA
$color-yellow: #E5B952
$color-light-grey: #F4F3F2
$color-mid-grey: #A1ABA5
$color-dark-grey: #222123

// BY PURPOSE
// Re-define colors by purpose here so that site-wide color updates can be done
// with a small number of changes to the config file.
// If the color scheme does not call for two areas using the same color to match
// give them different names so they can be adjusted separately in the future.
$brand-color: $color-dark-green
$brand-color-light: $color-light-green
$brand-color-extra-light: $color-extra-light-green
$accent-color: $color-yellow
$light-neutral-color: $color-light-grey
$medium-neutral-color: $color-mid-grey
$dark-neutral-color: $color-dark-grey
