// Nav
$nav-link-font-size: 1.3rem
$nav-link-font-size--tablet-landscape: 1.8rem
$nav-link-font-size--tablet-portrait: 1.6rem
$nav-link-font-size--mobile: 1.2rem
$nav-button-font-size: 1rem
$nav-button-font-size--tablet-landscape: 1.8rem
$nav-button-font-size--tablet-portrait: 1.6rem
$nav-button-font-size--mobile: 1.2rem

// Hero
$hero-header-font-size: 7.5rem
$hero-header-font-size--tablet-portrait: 5.5rem
$hero-header-font-size--mobile: 3rem
$hero-subheader-font-size: 4rem
$hero-subheader-font-size--tablet-portrait: 4rem
$hero-subheader-font-size--mobile: 2rem

// Section Header
$section-header-font-size: 3rem
$section-header-font-size--mobile: 2rem

// Services
$services-box-header-font-size: 1.6rem
$services-box-shrunk-header-font-size: 1.2rem
$services-box-shrunk-header-font-size--mobile: 0.8rem
$services-box-description-font-size: 1rem
$services-content-header-font-size: 2.4rem
$services-content-header-font-size--mobile: 1.6rem
$services-content-info-font-size: 1rem
$services-content-info-font-size--mobile: 0.8rem

// About
$about-text-font-size: 1.2rem
$about-text-font-size--tablet-landscape: 1.4rem
$about-text-font-size--tablet-portrait: 1rem
$about-text-font-size--mobile: 0.7rem

// Footer
$footer-item-font-size: 1rem
$footer-item-font-size--mobile: 0.8rem