// Section header
=section-header
  font-size: 3rem
  font-weight: 300
  text-align: center

// Font weights
=font-weight-bold
  font-weight: 700

=font-weight-medium
  font-weight: 500

=font-weight-regular
  font-weight: 400

=font-weight-light
  font-weight: 300
  
// Box shadow
=box-shadow
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
