// Section header
=section-header
  font-size: $section-header-font-size
  +font-weight-light
  text-align: center
  text-transform: uppercase
  letter-spacing: 0.2rem

// Font weights
=font-weight-bold
  font-weight: 700

=font-weight-medium
  font-weight: 500

=font-weight-regular
  font-weight: 400

=font-weight-light
  font-weight: 300

=font-weight-thin
  font-weight: 100

// Box shadow
=box-shadow
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)

=nav-shadow
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)

=box-shadow-hover
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)

// Button shadow
=button-shadow
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)

// Size square
=size-square($size)
  height: $size
  width: $size

// Gradients
=brand-color-gradient($direction)
  background: linear-gradient($direction, rgba($services-background-start-color, 0.6), rgba($services-background-end-color, 0.4))

=grey-color-gradient($direction)
  background: linear-gradient($direction, $grey-gradient-start-color, $grey-gradient-end-color, $grey-gradient-start-color)

=nav-bar-gradient($direction)
  background: linear-gradient($direction, $grey-gradient-start-color, $grey-gradient-end-color)

=nav-button-gradient($direction)
  background: linear-gradient($direction, $nav-button-gradient-start-color, $nav-button-gradient-end-color)

=projects-modal-gradient($direction)
  background: linear-gradient($direction, $projects-modal-gradient-start-color, rgba($projects-modal-gradient-end-color, 0.8))

=about-gradient($direction)
  background: linear-gradient($direction, $about-background-start-color, $about-background-end-color)

=services-gradient($direction)
  background: linear-gradient($direction, $services-background-start-color, $services-background-end-color)

// Standard border radius
=border-radius()
  border-radius: 3px

// Slide
=slide($percentage)
  transform: translateY($percentage)

// Media query
=media($breakpoint)
  @media (max-width: $breakpoint)
    @content
