@import ../../global/sass-config/colors
@import ../../global/sass-config/font-sizes
@import ../../global/sass-config/mixins

.services
  min-height: 65vh
  width: 100%
  box-shadow: 0 -2px 8px rgba(0,0,0,.1)
  background: #DDD
  color: $services-text-color
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly

.services__header
  +section-header
  margin-bottom: 2rem
  margin-top: 3rem

.boxes
  width: 80%
  max-width: $max-width
  height: 50%
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly

.shrink
  justify-content: center
  flex-direction: row
  flex-wrap: nowrap
  align-items: flex-start
  height: 5rem
  margin-bottom: 2rem

  .box
    width: 10rem
    height: auto
    box-shadow: none
    padding: 0.5rem
    
  .box--1
    border-radius: 5px 0 0 5px

  .box--2
    border-radius: 0
    border-left: 1px solid $service-box-border-color
    border-right: 1px solid $service-box-border-color

  .box--3
    border-radius: 0
    border-right: 1px solid $service-box-border-color

  .box--4
    border-radius: 0 5px 5px 0

  .box:hover
    transform: translateY(-10%)

  .box__title
    margin: 0
    text-transform: none

  .box__image
    height: 3rem

.box
  +border-radius
  +grey-color-gradient(to right)
  +box-shadow
  +slide(-2px)
  width: 20%
  height: auto
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: $service-box-text-color
  padding: 0 1rem
  cursor: pointer
  margin-bottom: 1rem
  transition: 0.3s

.box:hover
  +box-shadow-hover
  +slide(0)

.box__title
  font-size: $services-box-header-font-size
  +font-weight-light
  margin: 2rem
  text-transform: uppercase

.box__image--white
  display: none

.active
  background: linear-gradient(to bottom, $services-button-gradient-start-color, $services-button-gradient-end-color)
  color: white

  .box__image
    display: none

  .box__image--white
    display: block

// Content
.content
  display: none
  width: 90vw
  flex-grow: 2

.display
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  height: 50%

.content__title
  font-size: $services-content-header-font-size
  margin-bottom: 1rem

.content__description
  margin-bottom: 2rem
  max-width: 50%
  text-align: center
  line-height: 1.3rem

.content__image
  max-height: 30rem
  max-width: 90%
  border-radius: 5px
  margin-bottom: 3rem

+media($tablet-landscape)
  .services__header
    margin-top: 2rem
  .boxes
    width: 100%
    margin-bottom: 2rem
  .box
    width: 33%
  .content__description
    max-width: 65%
  .content__image
    max-height: 35rem

+media($tablet-portrait)
  .services__header
    margin-top: 3rem
  .boxes
    height: auto
    width: 100%
  .shrink
    flex-direction: row
    height: 10%
  .box
    height: auto
    width: 33%
    margin: 1rem 0
  .content__description
    max-width: 75%

+media($mobile)
  .services__header
    font-size: $section-header-font-size--mobile
  .boxes
    height: 90%
  .shrink
    height: 10%
    width: 90%
    .box
      width: 2.8rem
    .box__title
      font-size: $services-box-shrunk-header-font-size--mobile
  .box
    width: 55%
  .content__title
    font-size: $services-content-header-font-size--mobile
  .content__info
    font-size: $services-content-info-font-size--mobile
  .content__description
    max-width: 95%