@import ../../global/sass-config/_mixins
  
.services
  height: 65vh
  width: 100%
  +brand-color-gradient(to bottom)
  +font-weight-light
  color: $services-text-color
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly

.services__header
  +section-header
  margin-top: -2rem

.boxes
  width: 80%
  height: 50%
  display: flex
  align-items: center
  justify-content: space-evenly

.box
  +border-radius
  +grey-color-gradient(to right)
  width: 20%
  height: 100%
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: $service-box-text-color
  +box-shadow
  padding: 0 1rem
  transition: transform .3s

.box:hover 
  +slide(-5%)

.box__icon
  color: $service-box-icon-color

.box__title
  font-size: $services-box-header-font-size
  +font-weight-light
  margin: 1rem

.box__description
  +font-weight-light
  font-size: $services-box-description-font-size

+media($tablet-landscape)
  .boxes
    width: 100%
  .box
    width: 28%

+media($tablet-portrait)
  .services
    height: 150vh
  .services__header
    margin-top: 0
  .boxes
    height: 80%
    flex-direction: column
    width: 100%
  .box
    width: 50%
    margin: 1rem 0

+media($mobile)
  .services
    height: 175vh
  .services__header
    font-size: $section-header-font-size--mobile
    margin-bottom: -1rem
  .boxes
    height: 90%
  .box
    width: 65%
