<section class="services" id="{{ component.id }}">
  <h1 class="services__header">
    {{ component.title }}
  </h1>
  <div class="boxes">
    {% for box in component.boxes %}
    <div class="{{ box.class }}" data-target="{{ box.target }}">
      <img src="{{ box.icon }}" alt="" />
      <h4 class="box__title">
        {{ box.title }}
      </h4>
    </div>
    {% endfor %}
  </div>
  {% for modal in component.boxes %}
  <div class="{{ modal.modalclass }}">
    <div class="{{ modal.modalcontentclass }}">
      <i
        class="fas fa-times fa-2x modal__x"
        data-target="{{ modal.target }}"
      ></i>
      <img class="modal__image" src="{{ modal.modalimage }}" alt="" />
      <h4 class="modal__title">
        {{ modal.title }}
      </h4>
      <p class="modal__description">{{ modal.description }}</p>
    </div>
  </div>
  {% endfor %}
</section>
