<section class="services">
  <h1 class="services__header">
    {{ component.maintitle }}
  </h1>
  <div class="boxes">
    <div class="box">
      <h4 class="box__title">
        {{ component.title1 }}
      </h4>
      <p class="box__desc">
        {{ component.desc1 }}
      </p>
    </div>
    <div class="box">
      <h4 class="box__title">
        {{ component.title2 }}
      </h4>
      <p class="box__desc">
        {{ component.desc2 }}
      </p>
    </div>
    <div class="box">
      <h4 class="box__title">
        {{ component.title3 }}
      </h4>
      <p class="box__desc">
        {{ component.desc3 }}
      </p>
    </div>
    <div class="box">
      <h4 class="box__title">
        {{ component.title4 }}
      </h4>
      <p class="box__desc">
        {{ component.desc4 }}
      </p>
    </div>
  </div>
</section>
