@import ../../global/sass-config/_mixins

.nav
  height: 10vh
  width: 100%
  position: fixed
  +grey-color-gradient(to top)
  color: $nav-text-color
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  +font-weight-light
  transition: .3s height
  z-index: 2
  +box-shadow

.nav--minimal
  height: 5vh

.nav__brand
  height: 75%
  width: 25%
  display: flex
  justify-content: center
  align-items: center

.nav__logo
  height: 100%

.nav__links
  height: 100%
  width: 50%
  display: flex
  align-items: center
  justify-content: space-evenly
  transition: .3s height
  font-size: $nav-link-font-size

.nav__link
  text-decoration: none
  color: $nav-text-color
  transition: .3s color

.nav__link:hover
  color: $nav-text-hover-color

.nav__buttons
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
  justify-content: space-evenly
  width: 25%

.nav__button
  +nav-button-gradient(to bottom)
  color: $nav-button-text-color
  text-decoration: none
  padding: 0.5rem 1.5rem
  +border-radius
  font-size: $nav-button-font-size
  +font-weight-regular
  transition-property: transform, box-shadow
  transition-duration: .3s
  cursor: pointer

.nav__button:hover
  transform: translateY(-2px)
  +button-shadow

.nav__button:active
  transform: translateY(0)
  box-shadow: 0 0 0

+media($tablet-landscape)
  .nav__links
    width: 33%
  .nav__brand
    width: 33%
  .nav__buttons
    width: 33%
    flex-direction: column

+media($tablet-portrait)
  .nav__links
    display: none
  .nav__buttons
    width: 66%
    flex-direction: row

+media($mobile)
  .nav__brand
    width: 30%
  .nav__logo
    height: 50%
    transition: height .3s
  .nav__buttons
    width: 70%
    flex-direction: column
    transition: visibility, opacity .3s
  .nav__button
    font-size: $nav-button-font-size--mobile
    padding: 0.2rem 0.6rem
  .nav--minimal
    .nav__logo
      height: 100%
    .nav__buttons
      visibility: hidden
      opacity: 0