@import ../../global/sass-config/_mixins

.nav
  height: 10vh
  width: 100%
  position: fixed
  +nav-bar-gradient(to bottom)
  color: $nav-text-color
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  +font-weight-light
  transition: .3s height
  z-index: 3
  +nav-shadow

.nav--minimal
  height: 5vh

  .nav__logo
    height: 100%
    transform: translateY(50%)

  .logo__text
    transform: scale(0)
    opacity: 0

.nav__brand
  height: 80%
  width: 33%
  display: flex
  flex-direction: column
  justify-content: center
  text-decoration: none

.nav__logo
  height: 50%
  transition: height 0.3s, transform 0.3s

.logo__text
  display: flex
  flex-direction: column
  align-items: center
  transition: transform 0.3s, opacity 0.3s

.logo__header
  font-size: 1.4rem
  color: $nav-logo-header-color
  text-transform: uppercase

.logo__subheader
  font-size: 1rem
  color: $nav-logo-subheader-color
  text-transform: lowercase
  +font-weight-light

.nav__links
  height: 100%
  width: 33%
  display: flex
  align-items: center
  justify-content: space-evenly
  transition: .3s height
  font-size: $nav-link-font-size

.nav__link
  text-decoration: none
  color: $nav-text-color
  position: relative
  text-transform: uppercase
  text-align: center
  flex-basis: 33%

.nav__link:before
  content: " "
  position: absolute
  width: 100%
  height: 3px
  bottom: -8px
  left: 0
  background-color: $nav-underline-color
  visibility: hidden
  transform: scaleX(0)
  transition: transform 0.3s, visibility 0.3s

.nav__link:hover:before
  visibility: visible
  transform: scaleX(0.55)

.nav__buttons
  display: flex
  flex-direction: row
  align-items: center
  height: 100%
  justify-content: space-evenly
  width: 33%

.nav__button
  +nav-button-gradient(to bottom)
  color: $nav-button-text-color
  text-decoration: none
  padding: 0.5rem 1.5rem
  +border-radius
  font-size: $nav-button-font-size
  +font-weight-regular
  transition-property: transform, box-shadow
  transition-duration: .3s
  cursor: pointer

.nav__button:hover
  transform: translateY(-2px)
  +button-shadow

.nav__button:active
  transform: translateY(0)
  box-shadow: 0 0 0

.nav__menu
  display: none
  margin-right: 1rem

.nav__bar
  width: 2rem
  height: .3rem
  background-color: $nav-menu-color
  margin: .4rem
  transition-property: transform, opacity
  transition-duration: .3s

.x
  .nav__bar--1 
    transform: rotate(-135deg) translate(-.35rem, -.64rem)

  .nav__bar--2 
    opacity: 0

  .nav__bar--3
    transform: rotate(135deg) translate(-.35rem, .6rem)

// Mobile nav
.nav--mobile
  position: fixed
  top: 0
  left: 0
  width: 100%
  background: $mobile-nav-background-color
  z-index: 2
  opacity: 0
  transform: translateX(100%)
  transition-property: transform, opacity
  transition-duration: 0.5s
  display: none
  margin-top: 10vh

.display-nav
  transform: translateY(0)
  opacity: 1

.nav__header-link--mobile
  text-decoration: none

.nav__header-button--mobile
  display: none

.nav__content--mobile
  width: 100%
  min-height: 55vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  padding: 1rem 0

.nav__link--mobile
  color: $nav-text-color
  text-decoration: none
  font-size: $nav-link-font-size--tablet-landscape
  text-transform: uppercase

.nav__item--mobile
  margin: 1rem 0

.nav__item--mobile:nth-of-type(even)
  background: white

.nav__button--mobile
  +nav-button-gradient(to bottom)
  color: $nav-button-text-color
  text-decoration: none
  padding: 0.5rem 1.5rem
  +border-radius
  font-size: $nav-button-font-size--tablet-landscape
  +font-weight-regular
  margin: 1rem 0

+media($tablet-landscape)
  .nav__links
    display: none
  .nav__buttons
    display: none
  .nav--minimal
    height: 10vh
    .nav__logo
      height: 50%
      transform: none
  .nav--mobile
    display: block
  .nav__header-button--mobile
    display: block
  .logo__text
    display: none
  .nav__menu
    display: inline-block
  .nav__header-link--mobile
    margin-left: auto
    margin-right: 2rem

+media($tablet-portrait)
  .nav__link--mobile
    font-size: $nav-link-font-size--tablet-portrait
  .nav__button--mobile
    font-size: $nav-button-font-size--tablet-portrait

+media($mobile)
  .nav__brand
    width: 30%
  .nav__logo
    height: 50%
    transition: height .3s
  .nav--minimal
    .nav__logo
      height: 50%
  .nav__content--mobile
    overflow: scroll
  .nav__link--mobile
    font-size: $nav-link-font-size--mobile
  .nav__button--mobile
    font-size: $nav-button-font-size--mobile
  .nav__header-link--mobile
    margin-right: 1rem