<nav class="nav">
  <img
    src="{{ component.logo }}"
    alt="{{ component.logoalt }}"
    class="nav__logo"
  />
  <ul class="nav__content">
    <a href="#" class="nav__link">
      <li class="nav__item">Home</li>
    </a>
    <a href="#" class="nav__link">
      <li class="nav__item">Services</li>
    </a>
    <a href="#" class="nav__link">
      <li class="nav__item">Projects</li>
    </a>
    <a href="#" class="nav__link">
      <li class="nav__item">Contact</li>
    </a>
    <li class="nav__item">{{ component.phone }}</li>
  </ul>
</nav>
