<nav class="nav">
  <a href="/" class="nav__brand">
    <img
      src="{{ component.logo.url }}"
      alt="{{ component.logo.alt }}"
      class="nav__logo"
    />
  </a>
  <ul class="nav__links">
    {% for link in component.links %}
    <a href="{{ link.url }}" class="nav__link">
      <li class="nav__item">{{ link.name }}</li>
    </a>
    {% endfor %}
  </ul>
  <ul class="nav__buttons">
    <a href="tel:{{ component.phone }}">
      <button class="nav__button">
        {{ component.phone }} <i class="fas fa-phone"></i>
      </button>
    </a>
    <a href="mailto:{{ component.email }}">
      <button class="nav__button">
        {{ component.email }} <i class="fas fa-envelope"></i>
      </button>
    </a>
  </ul>
  <i class="fas fa-bars fa-2x nav__menu"></i>
</nav>
<div class="nav--mobile">
  <ul class="nav__content--mobile">
    {% for link in component.links %}
    <a href="{{ link.url }}" class="nav__link--mobile">
      <li class="nav__item--mobile">{{ link.name }}</li>
    </a>
    {% endfor %}
    <a href="tel:{{ component.phone }}">
      <button class="nav__button--mobile">
        {{ component.phone }} <i class="fas fa-phone"></i>
      </button>
    </a>
    <a href="mailto:{{ component.email }}">
      <button class="nav__button--mobile">
        {{ component.email }} <i class="fas fa-envelope"></i>
      </button>
    </a>
  </ul>
</div>
