<nav class="nav">
  <img
    src="{{ component.logo }}"
    alt="{{ component.logoalt }}"
    class="nav__logo"
  />
  <ul class="nav__right">
    <a href="#" class="nav__right__link">
      <li class="nav__right__item">Home</li>
    </a>
    <a href="#" class="nav__right__link">
      <li class="nav__right__item">Services</li>
    </a>
    <a href="#" class="nav__right__link">
      <li class="nav__right__item">Projects</li>
    </a>
    <a href="#" class="nav__right__link">
      <li class="nav__right__item">Contact</li>
    </a>
    <li class="nav__right__item">{{ component.phone }}</li>
  </ul>
</nav>
