@import ../background/background-config

.projects
  min-height: 85vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  opacity: 0
  animation: fadein 0.2s forwards #{$background-image-fadein-time / 2}

.projects__header
  +section-header
  margin-top: calc(10vh + 4rem)

// Gallery
// -------
.gallery
  width: 80%
  max-width: $max-width
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  margin: 2rem 0

.gallery__frame
  width: 15rem
  height: 15rem
  overflow: hidden
  margin: 1.4rem
  border: 1px solid $projects-image-border-color

.gallery__image
  width: 100%
  height: 100%
  object-fit: cover
  filter: saturate(.6)
  transition: 0.3s

.gallery__image:hover
  transform: scale(1.1)
  filter: saturate(1)
  cursor: pointer

// Modal
.modal
  +projects-modal-gradient()
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  padding-top: 48px
  box-sizing: border-box
  overflow: hidden
  opacity: 0

.modal__image-container
  +box-shadow
  +grey-color-gradient
  padding: 24px
  max-height: #{'min(calc(100vh - 200px), calc(100vw - 48px - 48px))'}
  max-width: #{'min(calc(100vh - 200px), calc(100vw - 48px - 48px))'}
  +media($tablet-portrait)
    padding: 16px
    max-height: #{'min(calc(100vh - 200px), calc(100vw - 32px - 48px))'}
    max-width: #{'min(calc(100vh - 200px), calc(100vw - 32px - 48px))'}
  +media($mobile)
    padding: 12px
    max-height: #{'min(calc(100vh - 200px), calc(100vw - 24px - 48px))'}
    max-width: #{'min(calc(100vh - 200px), calc(100vw - 24px - 48px))'}
  height: auto
  width: auto
  opacity: 0
  transform: translateY(20%)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin: auto
  text-align: center
  border-radius: 5px
  box-sizing: border-box

.modal__image-wrapper
  border-radius: 5px
  grid-column: 1 / span 1
  grid-row: 1 / span 1
  overflow: hidden
  border-radius: 5px

.modal__image
  max-width: 100%
  max-height: 100%
  margin: auto
  border-radius: 5px

.modal__caption
  margin-top: 24px
  line-height: 1.5rem
  +media($tablet-portrait)
    margin-top: 16px
  +media($mobile)
    margin-top: 12px

.modal__x
  position: absolute
  top: calc(10vh + 1rem)
  right: 1rem
  font-size: 2rem
  cursor: pointer

.display
  display: flex
  animation: fadein .2s forwards

  .modal__image-container
    animation: fadeinup .4s forwards .2s

+media($mobile)
  .projects__header
    font-size: $section-header-font-size--mobile
  .modal__image
    height: auto
