@import ../background/background-config
  
.projects
  min-height: 85vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  opacity: 0
  animation: fadein 0.2s forwards #{$background-image-fadein-time / 2}

.projects__header
  +section-header
  margin-top: calc(10vh + 4rem)

// Gallery
// -------
.gallery
  width: 80%
  max-width: $max-width
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly
  margin: 2rem 0

.gallery__frame
  width: 15rem
  height: 15rem
  overflow: hidden
  margin: 1rem
  border: 1px solid $projects-image-border-color

.gallery__image
  width: 100%
  height: 100%
  object-fit: cover
  filter: saturate(.6)
  transition: 0.3s

.gallery__image:hover
  transform: scale(1.1)
  filter: saturate(1)
  cursor: pointer

// Modal
.modal
  +projects-modal-gradient(to bottom)
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  overflow: auto
  opacity: 0

.modal__image
  max-height: 70%
  max-width: 90%
  border-radius: 5px
  display: none
  opacity: 0

.modal__x
  position: absolute
  top: calc(10vh + 1rem)
  right: 1rem
  font-size: 2rem
  cursor: pointer

.display
  display: flex
  animation: fadein .2s forwards

+media($mobile)
  .projects__header
    font-size: $section-header-font-size--mobile
  .modal__image
    height: auto