<section class="projects" id="{{ component.id }}">
  <h1 class="projects__header">
    {{ component.title }}
  </h1>
  <div class="gallery">
    {% for image in component.insta %}
    <div class="gallery__frame">
      <img
        src="{{ image.media_url }}"
        alt="{{ image.caption }}"
        class="gallery__image"
        data-target="{{ loop.index }}"
      />
    </div>
    {% endfor %}
  </div>
  <div class="modal">
    <span class="modal__x">&times;</span>
    <div class="modal__image-container">
      <div class="modal__image-wrapper">
        <img
          src="{{ component.insta[0].media_url }}"
          alt="{{ component.insta[0].caption}}"
          class="modal__image" />
      </div>
      <div class="modal__caption">{{ component.insta[0].caption }}</div>
    </div>
  </div>
</section>
