<section class="projects" id="{{ component.id }}">
  <h1 class="projects__header">
    {{ component.title }}
  </h1>
  <div class="gallery">
    {% for image in component.images %}
    <div class="gallery__frame">
      <img
        src="{{ image.url }}"
        alt="{{ image.alt }}"
        class="gallery__image"
        data-target="{{ image.dataTarget }}"
      />
    </div>
    {% endfor %}
  </div>
  <div class="modal">
    <span class="modal__x">&times;</span>
    {% for image in component.modalImages %}
    <img
      alt="{{ image.alt }}"
      class="{{ image.class }}"
    />
    {% endfor %}
  </div>
</section>