.projects
  min-height: 85vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  opacity: 0
  animation: fadein 1s forwards 0.5s

.projects__header
  +section-header
  margin-top: calc(10vh + 2rem)

// Gallery
// -------
.gallery
  width: 80%
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly
  margin: 2rem 0

.gallery__image
  width: 20%
  height: auto
  margin: 2.5%

+media($tablet-landscape)
  .gallery__image
    width: 45%

+media($mobile)
  .projects__header
    font-size: $section-header-font-size--mobile
  .gallery__image
    width: 95%