<section class="about" id="{{ component.id }}">
  <h1 class="about__header">
    {{ component.title }}
  </h1>
  <ul class="about__text">
    <li class="about__point">
      WhelpTech Electrical Services is based out of the Fraser Valley.
    </li>
    <li class="about__point">
      Our team includes skilled Journeymen and Apprentices that provide high
      quality work.
    </li>
    <li class="about__point">
      WhelpTech provides a wide range of electrical services including
      Industrial, Commercial, Agricultural and Residential.
    </li>
    <li class="about__point">
      We strive to not only meet our customer’s needs but to exceed their
      expectations.
    </li>
    <li class="about__point">
      WhelpTech is committed to helping our customer’s projects reach
      their full potential.
    </li>
  </ul>
</section>
