<section class="about" id="{{ component.id }}">
  <h1 class="about__header">
    {{ component.title }}
  </h1>
  <div class="about__text">
    <p class="about__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit odio,
      similique rem eveniet praesentium vel quibusdam veritatis quasi esse
      ratione modi enim rerum nesciunt tempora dolor! Ex ad doloremque amet
      vitae animi? Reiciendis eligendi fuga tempora quis cupiditate eaque animi
      a illum consectetur ea, fugiat, voluptates eius esse beatae molestias.
    </p>
    <p class="about__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit odio,
      similique rem eveniet praesentium vel quibusdam veritatis quasi esse
      ratione modi enim rerum nesciunt tempora dolor! Ex ad doloremque amet
      vitae animi? Reiciendis eligendi fuga tempora quis cupiditate eaque animi
      a illum consectetur ea, fugiat, voluptates eius esse beatae molestias.
    </p>
    <p class="about__paragraph">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit odio,
      similique rem eveniet praesentium vel quibusdam veritatis quasi esse
      ratione modi enim rerum nesciunt tempora dolor! Ex ad doloremque amet
      vitae animi? Reiciendis eligendi fuga tempora quis cupiditate eaque animi
      a illum consectetur ea, fugiat, voluptates eius esse beatae molestias.
    </p>
  </div>
</section>
